table{
    border: 2px solid rgb(16, 54, 87);
}

td,th{    
    border: 2px solid rgb(16, 54, 87);
}

p{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(144, 208, 216);
}

#Advertisement{
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    background-color: grey;
    height: 100%;
  }
  #textover{
      padding-right: 20%;
  }